/**
 * @file
 * QScience D2D Search module stylesheet.
 */

span#whatsup {
    margin: 100px;
}

div#discoverd2d {
    margin-top: 20px;
}

div#qscience_d2dsearch_main_form {
    margin-bottom: 30px;
    border: 1px solid #CCC;
}

div#qscience_d2dsearch_centered {
    text-align: center;
    margin: auto;
    border: 1px solid green;
    width: auto;
    height: auto;
}

div#qscience_d2dsearch_searchbar {
    border: 1px solid red;
}

div#qscience_d2dsearch_searchbar input {
    display: inline;
    float: left;
}

div#qscience_d2dsearch_searchbar select {
    display: inline;
    float: left;
}

input#edit-search-string {
    padding: 5px;
    width: 60%;
}

/* Result Div */

div.qscience_search_result {
    clear: both;
    height: 100%;
    /* min-height: 100px; */
    padding-top: 0;
    margin: 0px;
    border-top: 1px dotted #CCC;
    /* background: #FFC2F2; */
}

div.my_result {
    /* background: #FAF6E6; */
    display: block;
    clear: both;
}


div.qscience_search_result div {
    /*
    clear: both;
    width: 100%;
    display: inline;
    float: left;
    padding: 5px;
    */
}

div.qscience_search_result_friend {
    clear: both;
    font-weight: bold;
    /* border-bottom: 1px dotted #CCC; */
    color: #4186D3;
    padding: 1px 3px 1px 3px;
    /*background: #689AD3; */
}

div.qscience_search_result_content {
    padding: 5px;
}

span.qsr_underTitle {
    margin-top: 1px;
    margin-bottom: 5px;
    float: left;
    clear: both;
    color: #2A1003;
}

span.qsr_authors {
    /* color: #311C10; */

}
span.qsr_journal {
    font-style: italic;
}

span.qscience_search_result_title {
    font-weight: bold;
    font-size: 14px;
    float: left;
    clear: both;
}

span.qscience_search_result_abstract {
    float: left;
    clear: both;
    font-weight: normal;
}

span.qsr_abs_dots {
    margin-left: 2px;
    padding: 0px 2px;
    font-size: small;
    color: #4186D3;
    /*
       font-weight: bold;
       border: 1px dotted #4186D3;
       background: #CFC7D7;
    */
}

span.qsr_abs_dots:hover {
    /* background: white; */
    text-decoration: underline;
    cursor: pointer;
}

span.qsr_friend_more {
    margin-left: 10px;
    padding: 1px 3px 1px 1px;
    color: #73041A;
    /*background: #DCDCDC; /* #E1CFD3; */
    border: 1px dotted #73041A;
    cursor: pointer;
}

span.qsr_friend_more:hover {
    /* color: #A60000; */
    background: #FFDCDC;
}

/* Similar results */

span.duplicatedText {
    color: #73041A;
    font-size: 14px;
    font-family: monospace;
    font-weight: bold;
    margin-top: 20px;
}

div.qscience_search_result_similar {
    clear: both;
    font-size: 10px;
    margin-left: 60px;
}
div.qscience_search_result_similar span.qscience_search_result_title {
    font-size: 12px;
}

/* Console */

div#console {
    margin-top: 5px;
    height: 50px;
    width: 100%;
    overflow: auto;
    font-family: monospace;
    background: #FFC;
    border: 1px dotted #CCC;
    padding-left: 3px;
}

div#console span {
    display: block;
    border-bottom: 1px solid white;
    margin-bottom: 0;
    clear: both;
}

span#hideconsole {
    margin-top: 0px;
    font-family: monospace;
    position: relative;
    top: 0;
    padding-left: 3px;
    padding-right: 3px;
    background: #CCC;
    float: right;
    text-align: center;
    display: block;
    border: 1px dotted #CCC;
    cursor: pointer;
}

span#hideconsole:hover {
    background: #ECECEC;
}

div#console span.info {

}

div#console span.error {
    background: #CFF;
}

div#console span.silly {
    display: none;
}


/* Search Progress Bar */

.ui-progressbar {
    position: relative;
}

.progress-label {
    position: absolute;
    margin-left: 5px;
    left: 50%
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

span#checkAgain {
    margin-left: 3px;
    font-style: italic;
    font-size: 10px;
    cursor: pointer;
}

span#checkAgain:hover {
    text-decoration: underline;
}

/* Header */

div#qscience_d2dsearch_results_header {
    clear: both;
    font-weight: bold;
    padding: 3px;
}

div#qscience_d2dsearch_results_header span {
    margin: 5px;
}

/* Paginator */

div#paginator {
    clear: both;
    text-align: center;
    margin: auto;
    padding: 5px;
    margin-top: 30px;
}

div#paginator span#pages span {
    color: #4186D3;
    margin-left: 5px;
    margin-right: 5px;
}

div#paginator span#pages span:hover {
    text-decoration: underline;
    cursor: pointer;
}

div#paginator span#pages span.curPage {
    font-weight: bold;
    color: #111;
}

div#paginator span#pages span.curPage:hover {
    text-decoration: none;
    cursor: auto;
}

span#prev_results, span#next_results {
    font-weight: bold;
    color: #111;
}

span#prev_results:hover, span#next_results:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* Actions */

div.qscience_search_result_actions {
    width: 100%;
    float: left;
    text-align: right;
    clear: both;
    /* border-bottom: 1px solid #CCC;
     border-bottom: 1px solid #CCC; */
    /* background: #EFF8FC; */
    height: 20px;
}

div.qscience_search_result_actions img {
    cursor: pointer;
}


/* Dialog */

div#qsr_dialog-form {
}

div#qsr_dialog-form h1 { 
    font-size: 1.2em;
    margin: .6em 0;
}

div#qsr_dialog-form label { 
    display: block;
    font-size: 12px;
    font-weight: bold;
}

div#qsr_dialog-form input {
    width: 95%;
    display: block;
    margin-bottom: 15px;
    padding: .4em;
}

div#qsr_dialog-form input#qsr_import_paper_year {
    width: 80px;
}

div#qsr_dialog-form textarea {
    height: 150px;
    width: 98%;
}

