/**
 * @file
 * QScience D2D Search module stylesheet.
 */

span#whatsup {
    margin: 100px;
}

div#discoverd2d {
    margin-top: 20px;
}

div#qscience_d2dsearch_main_form {
    margin-bottom: 30px;
    border: 1px solid #CCC;
}

div#qscience_d2dsearch_centered {
    text-align: center;
    margin: auto;
    border: 1px solid green;
    width: auto;
    height: auto;
}

div#qscience_d2dsearch_searchbar {
    border: 1px solid red;
}

div#qscience_d2dsearch_searchbar input {
    display: inline;
    float: left;
}

div#qscience_d2dsearch_searchbar select {
    display: inline;
    float: left;
}

input#edit-search-string {
    padding: 5px;
    width: 60%;
}


/* Search Progress Bar */

.ui-progressbar {
    position: relative;
}

.progress-label {
    position: absolute;
    left: 50%
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}